In [31]:
import pandas as pd

In [57]:
df = pd.read_csv("customer_shopping_data.csv")
df.head()

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,invoice_date,shopping_mall
0,I138884,C241288,Female,28,Clothing,5,1500.40,Credit Card,5/8/2022,Kanyon
1,I317333,C111565,Male,21,Shoes,3,1800.51,Debit Card,12/12/2021,Forum Istanbul
2,I127801,C266599,Male,20,Clothing,1,300.08,Cash,9/11/2021,Metrocity
3,I173702,C988172,Female,66,Shoes,5,3000.85,Credit Card,16/05/2021,Metropol AVM
4,I337046,C189076,Female,53,Books,4,60.60,Cash,24/10/2021,Kanyon

So the dataset contains information about customer shooping.
It contains 10 variables and 99457 observations.
Lets explore it a bit more!

# EDA

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99457 entries, 0 to 99456
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_no      99457 non-null  object
 1   customer_id     99457 non-null  object
 2   gender          99457 non-null  object
 3   age             99457 non-null  int64
 4   category        99457 non-null  object
 5   quantity        99457 non-null  int64
 6   price           99457 non-null  float64
 7   payment_method  99457 non-null  object
 8   invoice_date    99457 non-null  object
 9   shopping_mall   99457 non-null  object
dtypes: float64(1), int64(2), object(7)
memory usage: 7.6+ MB

In [34]:
df.shape

(99457, 10)

In [35]:
# count the unique values in the category column
df.category.value_counts()

Clothing           34487
Cosmetics          15097
Food & Beverage    14776
Toys               10087
Shoes              10034
Souvenir            4999
Technology          4996
Books               4981
Name: category, dtype: int64

In [36]:
# count the unique values in the age column
df.age.value_counts()

37    2057
22    2051
64    2002
43    2000
51    1993
30    1981
24    1977
40    1960
48    1955
36    1954
38    1954
28    1953
27    1950
39    1947
21    1947
61    1945
52    1945
19    1936
56    1916
33    1913
46    1911
62    1909
44    1904
53    1903
67    1901
69    1901
23    1897
26    1896
68    1893
42    1892
41    1892
32    1891
63    1886
29    1885
49    1883
34    1883
47    1880
57    1879
66    1876
45    1876
58    1875
59    1874
60    1874
50    1873
31    1866
25    1863
65    1856
18    1844
20    1844
55    1843
35    1841
54    1830
Name: age, dtype: int64

In [37]:
# count the unique values in the payment_method column
df.payment_method.value_counts()

Cash           44447
Credit Card    34931
Debit Card     20079
Name: payment_method, dtype: int64

In [38]:
# count the unique values in the shopping_mall column
df.shopping_mall.value_counts()

Mall of Istanbul     19943
Kanyon               19823
Metrocity            15011
Metropol AVM         10161
Istinye Park          9781
Zorlu Center          5075
Cevahir AVM           4991
Forum Istanbul        4947
Viaport Outlet        4914
Emaar Square Mall     4811
Name: shopping_mall, dtype: int64

In [39]:
# count the unique values in the invoice_date column
df.invoice_date.value_counts()

24/11/2021    159
26/02/2023    156
6/1/2021      155
25/07/2022    155
23/10/2022    155
             ...
27/10/2021     98
29/05/2021     98
30/09/2021     96
2/12/2021      94
16/01/2022     93
Name: invoice_date, Length: 797, dtype: int64

In [40]:
df.columns

Index(['invoice_no', 'customer_id', 'gender', 'age', 'category', 'quantity',
       'price', 'payment_method', 'invoice_date', 'shopping_mall'],
      dtype='object')

In [41]:
df.isnull().sum()

invoice_no        0
customer_id       0
gender            0
age               0
category          0
quantity          0
price             0
payment_method    0
invoice_date      0
shopping_mall     0
dtype: int64

# Feature Engineering

So now we have understand the dataset, lets do some feature engineering!

In [58]:
# Convert the 'invoice_date' variable to datetime format
df['invoice_date'] = pd.to_datetime(df['invoice_date'])

In [59]:
# Check the data type of the 'invoice_date' variable
print(df['invoice_date'].dtype)

datetime64[ns]

In [60]:
# Creating 3 new columns so needed to extract year, month, and day into separate columns
df['Year'] = df['invoice_date'].dt.year
df['Month'] = df['invoice_date'].dt.month
df['Day'] = df['invoice_date'].dt.day

The 'age' has too many unique values that are not a proper way to examine purchasing behavior by age.
Ideally, we want to examine the purchasing behavior by age group. So mapping age groups is necessary. 
Let's create 8 age groups i.e. 10-19-year-old -> group 1, 20-29-year-old -> group 2, and so on.

In [61]:
# Define the age group boundaries
age_groups = [10, 20, 30, 40, 50, 60, 70, 80, 90]

# Use pandas.cut() to map age to age groups
df['age_group'] = pd.cut(df['age'], bins = age_groups, labels = [1, 2, 3, 4, 5, 6, 7, 8])

Now we have created some columns, it's time to drop columns that is not important for creating dashboards like 'age', 'invoice_no', and 'customer_id'!

In [62]:
# Drop the columns 'age', 'invoice_no', and 'customer_id' from the DataFrame
new_df = df.drop(['invoice_no', 'customer_id','age'], axis=1)

# Write the new DataFrame to a CSV file without index
new_df.to_csv("new_customer_shopping_data.csv", index=False)

In [63]:
# Check the new dataset
new_df.head(10)

,gender,category,quantity,price,payment_method,invoice_date,shopping_mall,Year,Month,Day,age_group
0,Female,Clothing,5,1500.40,Credit Card,2022-05-08,Kanyon,2022,5,8,2
1,Male,Shoes,3,1800.51,Debit Card,2021-12-12,Forum Istanbul,2021,12,12,2
2,Male,Clothing,1,300.08,Cash,2021-09-11,Metrocity,2021,9,11,1
3,Female,Shoes,5,3000.85,Credit Card,2021-05-16,Metropol AVM,2021,5,16,6
4,Female,Books,4,60.60,Cash,2021-10-24,Kanyon,2021,10,24,5
5,Female,Clothing,5,1500.40,Credit Card,2022-05-24,Forum Istanbul,2022,5,24,2
6,Female,Cosmetics,1,40.66,Cash,2022-03-13,Istinye Park,2022,3,13,4
7,Female,Clothing,2,600.16,Credit Card,2021-01-13,Mall of Istanbul,2021,1,13,3
8,Male,Clothing,3,900.24,Credit Card,2021-04-11,Metrocity,2021,4,11,6
9,Female,Clothing,2,600.16,Credit Card,2021-08-22,Kanyon,2021,8,22,5

Now the dataset is fully prepared for visualization, let's go create some nice dashboards!